@font-face {
  font-family: "font";
  src: url(fonts/TOSTADA.ttf) format("truetype");
}

::selection {
  background-color: #c3cfe2;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background: linear-gradient(to right, #fdfbfb, #ebedee);

  transition: background-color 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(0, 0, 0); */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  background: linear-gradient(
    to right,
    #ade8f4 10%,
    #90e0ef 20%,
    #48cae4 30%,
    #00b4d8 40%,
    #0096c7 50%,
    #0077b6 60%,
    #023e8a 75%,
    #03045e 100%
  );
  /* -webkit-background-clip: */
  -webkit-text-fill-color: whitesmoke;
  opacity: 0.9;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #0f9fcb;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.text {
  display: inline-block;
  padding: 0px 600px;
  text-align: center;
  /* margin-left: 40%; */
  font-family: "font", sans-serif;
  margin-top: 0%;
  font-size: 700%;
  /* align-items: center; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: lowercase;
  background: linear-gradient(to right, #ade8f4 43%, #0077b6 55%, #03045e 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

textarea {
  margin-left: 10%;
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0.6em;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

h2 {
	margin-left: 10%;
}

#submit {
  margin-left: 50%;
  background-color: black;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
  #submit:hover,
  #submit:focus {
    color: black;
    outline: 0;
  }
  #submit {
    margin-left: 10%;
    border-color: #023e8a;
    color: #fff;
    box-shadow: 0 0 40px 40px #023e8a inset, 0 0 0 0 #023e8a;
    transition: all 150ms ease-in-out;
  }
    
    #submit:hover {
      box-shadow: 0 0 10px 0 #023e8a inset, 0 0 10px 4px #1971e4;
    
  }
  
  #quest{
    margin-top: 5%;
  }

  #option{
      background-color: #a1d8e3;
      border: none;
      color: #012a60;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0.6em;
    
  }
  #option:hover {
    opacity: 1;
}
  
  h3{
    margin-left: 10%;
  }

  #extras{
    margin-left: 10%;
  }