body {
  margin-left: 30px;
  margin-top: 50px;
  background-color: #ffcdb2;
}
h1 {
  font-family: PT mono;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  font-size: 50px;
}
h4 {
  font-family: PT mono;
}
#div1 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}
#div2 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 600px;
  border-radius:10px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
#div3 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  border-radius:10px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
#bottom {
  position: absolute;
  bottom: 300px;
  left: 30px;
  font-family: PT mono;
}
