<%- include("partials/header") -%>
    

    <div id="quest">
      <h2>What troubles you, my child?</h2>
      <form action="/" method = "post">
        <input name = "input1" placeholder="How can I find inner peace in the midst of chaos?"></input>
        <button id="submit1" type="submit">Ask from the sacred one!</button>
      </form>
      <br>
      <h3>
        Or, try one of these
      </h3>
      <div id="extras">
        <button id="option">Meaning of Dharma?</button>
        <button id="option">How to find inner peace?</button>
        <button id="option">What is the meaning of life?</button>
        <button id="option">Meaning of Dharma?</button>
      </div>
      <br>
      <br>
      <br>

      <!-- Output -->

      <h3>
        Gita Says,
      </h3>
      <textarea id="output1" cols="30" rows="10"></textarea>
      <h3>
        Bible Says,
      </h3>
      <textarea id="output2" cols="30" rows="10"></textarea>
      <h3>
        Quran Says,
      </h3>
      <textarea id="output3" cols="30" rows="10"></textarea>
      <h3>
        what does the sacred says?
      </h3>
      <textarea id="output4" cols="30" rows="10"></textarea>

    </div>
  </div>

</body>

</html>